header {

        background: #cc5444;
        color: #dfd9d9;
        padding: 2px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        border-radius: 100px
        

}

.container{
    display: flex;
    align-items: center;
}

.img{
    max-width: 30%; /* Defina a largura máxima da imagem conforme necessário */
    margin: 100px;
    border-radius: 30%;
}

section {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: #dfd9d9;
    display: flex;
    align-items: center;
    margin: 80px;
}

body{
    background-color: black;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #cc5444;
    font-family: 'Poppins', sans-serif;;
    border: none;
    color:#dfd9d9;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 100px
}